body {
	background-color:green;
	font-family: 'Open Sans', sans-serif;
}

.header {
	color: maroon;
	font-size:75px;
	text-align:center;
}
.clearboth {
	clear : both;
}
.container {
	width:95%;
	height:auto;
	float:left;
	padding:10%;
	margin-left:4%;
	margin-right:4%;
	border: 2px solid;
    border-radius: 10px;
}

.img{
	right:10px;
	}
